
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="color:black">
    ĐẶT HÀNG THÀNH CÔNG!!!
    <br />
    Chúng tôi sẽ liên lạc với quý khách và giao hàng đúng hẹn.
    Cảm ơn quý khách đã mua hàng ở hệ thống cửa hàng Lee's Store.
</h3>

